.aibuilder__cta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background: var(--gradient-bar);
}

.aibuilder__cta-content p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    color: #0e0e0e;
}

.aibuilder__cta-content h3{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    line-height: 45px;
    color: #000000;
}

.aibuilder__cta-button{
    display: flex;
    justify-self: center;
    align-items: center;
    margin-left: 2rem;
}

.aibuilder__cta-button button{
    background: #000000;
    border-radius: 40px;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: azure;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    min-width: 150px;
}

@media screen and (max-width: 650px) {
    .aibuilder__cta{
        flex-direction: column;
    }

    .aibuilder__cta-button{
        margin: 2rem 0 0;
    }
}

@media screen and (max-width: 550px) {
    .aibuilder__cta{
        margin: 4rem 2rem;
    }

    .aibuilder__cta-content{
        font-size: 18px;
        line-height: 32px;
    }

    .aibuilder__cta-button{
        font-size: 14px;
        line-height: 28px;
    }
}